/*Importamos Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Importamos Rajdhani*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
body {
    display: none;
}
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: white;
    display: block;
    #060642
}*/
body{
    background-color: white;
}

header {
    background-color: white;
    position: relative;
    height: 64px;
}

.listas {
    display: inline-block;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.listas a{
    color: white;
}

.barra_busqueda {
    width: 512px;
    position: absolute;
    display: inline;
    border-color: black;
    border-width: 2px;
}

#container {
    width: 100%;
    padding-right: 10%;
    display: flex;
    position: absolute;
    bottom: 52px;
    flex-direction: row-reverse;
}

@media (max-width: 950px) {
    .barra_busqueda {
        width: 432px;
    }
    header {
        height: 128px;
    }
}

.logo_lupa{
    padding: 14px 10px;
    border-radius: 4px;
    position:absolute;
    width: fit-content;
    display: inline;
}

.imagen_header{
    position: absolute;
    width: 44px;
    right: 16px;
    height: 44px;
    background-color: black;
    border-radius: 8px;
    padding: 8px;
}

.imagen_fondo_header{
    height: 15rem;
}

.contenedor_header{
    text-align: center;
    position: relative;
    background-color: black;
    padding: 15rem
}

.swiper {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

a {
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
}

.categoria {
    display: flex;
    width: fit-content;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    justify-content: center;
}

.category-name {
    font-family: "Montserrat";
    top: 75%;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    font-size: 32px;
    margin: auto;
    z-index: 1;
}

.categoria:hover {
    transform: translateY(-16px);
    opacity: 0.75;
}

.category-img {
    width: 100%;
    border-radius: 8px;
}

.category-label {
    font-family: "Montserrat";
    font-size: 32px;
    margin-top: 64px;
    margin-left: 16px;
    padding: 8px;
    border-radius: 8px;
}


.products {
    width: 100%;
   
}

.product-info {
    background-color: white;
    border-radius: 8px;
    font-size: 24px;
    z-index: 4;
    padding-left: 8px;
    padding-top: 8px;
    color: black;
    display: none;
    height: 0px;
}

.product-img {
    width: 100%;
    border-radius: 8px;
}

.product {
    display: flexbox;
    border-radius: 8px;
}

@keyframes hoverProductsInfo {
    0% {
        display: none;
        opacity: 0%;
        height: 0px;
        bottom: 0px;
        margin-bottom: 0px;
        position: absolute;
    }

    100% {
        display: block;
        opacity: 100%;
        height: 96px;
        bottom: 96px;
        margin-bottom: -96px;
        position: relative;
    }
}

.product:hover .product-info {
    animation-name: hoverProductsInfo;
    animation-duration: 250ms;
    display: block;
    opacity: 100%;
    height: 96px;
    bottom: 96px;
    margin-bottom: -96px;
    position: relative;
}

h2 {
    font-size: 16px;
    font-weight: 300;
    color: #A6A6A6;
}

h4 {
    font-size: 32px;
}

#img1 {
    width: 64px;
    height: 64px;
    margin: 16px;
}

@keyframes hoverProducts {
    0% {
        cursor: pointer;
        transform: translateY(0px);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    }

    100% {
        cursor: pointer;
        transform: translateY(-16px);
        box-shadow: rgb(0, 0, 0, 0.6) 0px 8px 24px;
    }
}

.product:hover,
.categoria:hover {
    animation-name: hoverProducts;
    animation-duration: 100ms;
    cursor: pointer;
    transform: translateY(-16px);
    box-shadow: rgb(0, 0, 0, 0.6) 0px 8px 24px;
}

.swiper-button-prev {
    color: black;
    font-weight: 1000;
}

.swiper-button-next {
    color: black;
    font-weight: 1000;
}

/*Pie de Pagina(Footer)*/
footer {
    background-color: #c8c5c5;
    display: flex;
    justify-content: space-between;
}

.footer-image {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
}

.image-flex {
    display: flex;
    justify-content: end;
    margin: 16px;
    gap: 20px;
}

.main-image {
    max-width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
}

div .text {
    float: left;
    width: 100px;
    margin: 0px;
    text-align: center;
    margin-left: 200px;
    font-size: 20px;
}

.text-contact {
    margin-left: 40px;

}

form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.copyright {
    background-color: #868484;
}