<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", {title: "Registro"})  %> 
<body>
    <%- include("./partials/header")  %> 
   <h2>Este es el registro del proyecto de CRUD</h2>
</body>
</html>