<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", {title: "Creación de producto"})  %> 
<body>
    <%- include("../partials/header")  %> 
    <h2>Este es el formulario de creación de producto del proyecto de CRUD</h2>
    <form action="/products/save" method="POST"> <!-- Completar -->
        <fieldset>
            <label for="product-name-input">Nombre del producto</label>
            <input type="text" name="name" id="product-name-input">
        </fieldset>
        <fieldset>
            <label for="product-price-input">Precio del producto</label>
            <input type="number" name="price"id="product-price-input">
        </fieldset>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>