<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="../css/home.css">
    <style>
        /* Barra de desplazamiento */
        ::-webkit-scrollbar {
          width: 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 8px 0px 24px;
        }
    
        ::-webkit-scrollbar-track {
          background: white;
        }
    
        ::-webkit-scrollbar-thumb {
          background: yellow;
          border-radius: 32px;
        }
    
        ::-webkit-scrollbar-thumb:hover {
          background: #EFEF00;
        }
    </style>  
</head>
<div id="loader"></div>
<body s>
    <h1>hola soy un robot </h1>
    <header>

        <h1></h1>
    </header>
    <main>
        <!-- Slider Categorias-->
        <section class="swiper">
            <div class="swiper-wrapper">
                <a class="swiper-slide categoria" href="#animales">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Animales</h3>
                </a>
                <a class="swiper-slide categoria" href="#cat2">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria2</h3>
                </a>
                <a class="swiper-slide categoria" href="#cat3">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria3</h3>
                </a>
                <a class="swiper-slide categoria" href="#cat4">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria4</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria5</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria6</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria7</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria8</h3>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label  id="animales" class="category-label">Animales</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="cat2" class="category-label">Categoria 2</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="cat3" class="category-label">Categoria 3</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="cat4" class="category-label">Categoria 4</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
    </main>
    <script type="text/javascript">
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
        
            // If we need pagination
            pagination: {
            el: '.swiper-pagination',
            },
        
            // Navigation arrows
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
        
            // And if we need scrollbar
            scrollbar: {
            el: '.swiper-scrollbar',
            },
            // Default parameters
            slidesPerView: 1,
            spaceBetween: 16,
            // Responsive breakpoints
            breakpoints: {
                // when window width is >= 576px
                330: {
                slidesPerView: 2,
                spaceBetween: 16
                },
                // when window width is >= 864px
                600: {
                slidesPerView: 3,
                spaceBetween: 16
                },
                // when window width is >= 1152px
                1152: {
                slidesPerView: 4,
                spaceBetween: 16
                },
                // when window width is >= 1440px
                1440: {
                slidesPerView: 5,
                spaceBetween: 16
                },
                // when window width is >= 1728px
                1728: {
                slidesPerView: 6,
                spaceBetween: 16
                },
                // when window width is >= 2016px
                2016: {
                slidesPerView: 7,
                spaceBetween: 16
                },
                // when window width is >= 2304px
                2304: {
                slidesPerView: 8,
                spaceBetween: 16
                },
                // when window width is >= 2592px
                2592: {
                slidesPerView: 9,
                spaceBetween: 16
                },
                // when window width is >= 2880px
                2880: {
                slidesPerView: 10,
                spaceBetween: 16
                },
                // when window width is >= 3168px
                3168: {
                slidesPerView: 11,
                spaceBetween: 16
                },
                // when window width is >= 3456px
                3456: {
                slidesPerView: 12,
                spaceBetween: 16
                },
                // when window width is >= 3744px
                3744: {
                slidesPerView: 13,
                spaceBetween: 16
                }
                // With this should be work well with monitors up to 4K.
            }
        });
    </script>
    <footer>
        <a class="image-insta" href="Instagram">
            <img src="/images/instagram-logo-icone.png">
        </a>
        <a class="image-face" href="Facebook">
            <img src="/images/facebook-logo.png">
        </a>
        <a class="image-twit" href="Twiter">
            <img src="/images/twitter-logo.png">
        </a>

        <img class="img" src="image.png">
    </footer>

    
</body>
</html>



