<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/916727133d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        /* Barra de desplazamiento */
        ::-webkit-scrollbar {
            width: 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 8px 0px 24px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: yellow;
            border-radius: 32px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #EFEF00;
        }
    </style>
</head>
<div id="loader"></div>

<body>
    <header>
        <nav>
            <ul>
                <li class="listas"><a href="/register">Registrate</a></li>
                <li class="listas"><a href="/login">Incia Secion</a></li>
                <li class="listas"><a href="/carrito_de_compra">Carrito</a></li>
            </ul>
        </nav>
        <!-- Esta es la barra de busqueda -->
        <div>
            <input type="text" name="barra_busqueda" placeholder="Ingrese un producto que desee buscar"
                class="barra_busqueda">
                <span class="fa-sharp fa-solid fa-magnifying-glass logo_lupa"></span>
        </div>

        <div>
            <img src="/images/main-image.png" class="imagen_header">
        </div>

        <div class="contenedor_header">
            <img src="/images/main-image.png" class="imagen_fondo_header">
        </div>
    </header>
    <main>
        <!-- Slider Categorias-->
        <section class="swiper">
            <div class="swiper-wrapper">
                <a class="swiper-slide categoria" href="#animales">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Animales</h3>
                </a>
                <a class="swiper-slide categoria" href="#cat2">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria2</h3>
                </a>
                <a class="swiper-slide categoria" href="#cat3">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria3</h3>
                </a>
                <a class="swiper-slide categoria" href="#cat4">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria4</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria5</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria6</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria7</h3>
                </a>
                <a class="swiper-slide categoria" href="">
                    <img class="category-img" src="../images/Categoria_Animales.jpeg">
                    <h3 class="category-name">Categoria8</h3>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="animales" class="category-label">Animales</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="cat2" class="category-label">Categoria 2</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="cat3" class="category-label">Categoria 3</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <label id="cat4" class="category-label">Categoria 4</label>
        <section class="swiper products">
            <div class="swiper-wrapper ">
                <a class="swiper-slide product" href="">
                    <img class="product-img" src="../images/producto.png">
                    <span class="product-info">
                        <h4>Precio $20</h4>
                        <h2>Producto 1</h2>
                    </span>
                </a>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
    </main>
    <script type="text/javascript">
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
            // Default parameters
            slidesPerView: 1,
            spaceBetween: 16,
            // Responsive breakpoints
            breakpoints: {
                // when window width is >= 576px
                330: {
                    slidesPerView: 2,
                    spaceBetween: 16
                },
                // when window width is >= 864px
                600: {
                    slidesPerView: 3,
                    spaceBetween: 16
                },
                // when window width is >= 1152px
                1152: {
                    slidesPerView: 4,
                    spaceBetween: 16
                },
                // when window width is >= 1440px
                1440: {
                    slidesPerView: 5,
                    spaceBetween: 16
                },
                // when window width is >= 1728px
                1728: {
                    slidesPerView: 6,
                    spaceBetween: 16
                },
                // when window width is >= 2016px
                2016: {
                    slidesPerView: 7,
                    spaceBetween: 16
                },
                // when window width is >= 2304px
                2304: {
                    slidesPerView: 8,
                    spaceBetween: 16
                },
                // when window width is >= 2592px
                2592: {
                    slidesPerView: 9,
                    spaceBetween: 16
                },
                // when window width is >= 2880px
                2880: {
                    slidesPerView: 10,
                    spaceBetween: 16
                },
                // when window width is >= 3168px
                3168: {
                    slidesPerView: 11,
                    spaceBetween: 16
                },
                // when window width is >= 3456px
                3456: {
                    slidesPerView: 12,
                    spaceBetween: 16
                },
                // when window width is >= 3744px
                3744: {
                    slidesPerView: 13,
                    spaceBetween: 16
                }
                // With this should be work well with monitors up to 4K.
            }
        });
    </script>
    <footer>
        <div class="image-flex">
            <a href="Instagram">
                <img class="footer-image" src="/images/instagram-logo-icone.png">
            </a>
            <a href="Facebook">
                <img class="footer-image" src="/images/facebook-logo.png">
            </a>
            <a href="Twiter">
                <img class="footer-image" src="/images/twitter-logo.png">
            </a>
        </div>
        <div class="main-image">
            <img src="/images/main-image.png">
            <div class="text">¿Quieres saber mas informacion?
                Contactanos
                <div class="fa-solid fa-arrow-down-long"></div>
            </div>
        </div>
        <form action="/enviar-mensaje" method="POST">
            <label for="nombre">Nombre:</label><br />
            <input type="text" id="nombre" name="nombre" /><br />
            <label for="email">Email:</label><br />
            <input type="email" id="email" name="email" /><br />
            <label for="mensaje">Mensaje:</label><br />
            <textarea id="mensaje" name="mensaje"></textarea><br />
            <input type="submit" value="Enviar mensaje" />
        </form>

        <span>
            <p class="copyright">futuro copirigth :)</p>
        </span>

    </footer>

</body>

</html>