/*Importamos Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Importamos Rajdhani*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

label {
    border-radius: 8px;
    font-family: "Rajdhani";
    margin-top: 24px;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
}

input, select, textarea {
    display: flex;
    width: 100%;
    height: 64px;
    border-radius: 8px;
    font-family: "Montserrat";
    margin-top: 12px;
    font-size: 17px;
    border: #676767 solid 3px;
    caret-color: #00FF00;
    padding-left: 8px;
}

textarea {
    height: 200px;
    resize: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: none;
    background-color:white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    height: 64px;
    border-radius: 8px;
    font-family: "Rajdhani";
    margin-top: 12px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
    color: black;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    border-color: white;
    border-style: solid;
    outline:  none;
}

button {
    display: flex;
    background-color: grey;
    border: none;
    border-radius: 8px;
    color: black;
    font-family: "Rajdhani";
    font-size: 36px;
    width: 100%;
    height: 90px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover, #custom-file-upload:hover {
    background-color: white;
    transition: 500ms
}