/*Importamos Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Importamos Rajdhani*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    background-color: black;
}

th, td {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 16px;
    background-color: white;
    text-align: center;
}

tr {
    width: 100%;
    border: solid 1px white;
}
table {
    width: 90%;
}

a {
    text-decoration: none;
    color: red;
}

img {
    width: 128px;
}

#Buy {
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: grey;
    padding: 16px;
    border-radius: 8px;
}

h1 {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}

h6 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 8px;
    padding-bottom: 0px;
}

div {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    align-items:center;
}

hr {
    width: 90%;
}