/*Importamos Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Importamos Rajdhani*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
    background-color: white;
    margin: 0;
}

#ProdImgBG {
    background-color: black;
    border-radius: 0px 0px 16px 0px
}

#ProdImg {
    padding: 64px;
    width: 768px;
    padding-top: 0px;
    margin-top: 16px;
}

#ProductA {
    display: flex;
}

#ProdDetails {
    margin: 64px;
    padding-top: 0;
    border-radius: 8px;
    background-color: #F0F0F0;
    text-align: center;
}

#ProdTitle, #ProdDesc, #ProdCredits {
    color: black;
    padding: 64px;
    padding-top: 0px;
    padding-bottom: 8px;
    border-radius: 16px;
    text-align:left;
}

#ProdTitle {
    font-family: "Rajdhani", sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}

#ProdDesc {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

#ProdCredits {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

#BuyBtn {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    text-decoration: none;
    padding: 16px;
    border-radius: 16px;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
}

.products {
    width: 100%;
    margin-top: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-info{
    border-radius: 8px;
    font-size: 24px;
    z-index: 4;
    padding-left: 8px;
    padding-top: 0px;
    color: black;
    display: none;
    height: 0px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
}

.product-img {
    width: 100%;
    border-radius: 16px;
}

.product {
    display: flexbox;
    width: 24%;
    border-radius: 8px;
    min-width: 256px;
}

@keyframes hoverProductsInfo {
    0% {
        display: none;
        opacity: 0%;
        height: 0px;
        bottom: 0px;
        margin-bottom: 0px;
        position:absolute;
    }
    100% {
        display: block;
        opacity: 100%;
        height: 25%;
        bottom: 25%;
        margin-bottom: -25%;
        position: relative;
    }
}

.product:hover .product-info {
    animation-name: hoverProductsInfo;
    animation-duration: 250ms;
    display: block;
    opacity: 100%;
    height: 25%;
    bottom: 25%;
    margin-bottom: -25%;
    position: relative;
}

h2 {
    font-size: 16px;
    font-weight: 300;
    color: #A6A6A6;
    padding: 0px;
    margin: 0px;
}

h4 {
    padding: 0px;
    margin: 0px;
    font-size: 32px;
}

@keyframes hoverProducts {
    0% {
        cursor: pointer;
        transform:translateY(0px);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    }
    100% {
        cursor: pointer;
        transform:translateY(-16px);
        box-shadow: rgb(0, 0, 0, 0.6) 0px 32px 24px;
    }
}

.product:hover {
    animation-name: hoverProducts;
    animation-duration: 100ms;
    cursor: pointer;
    transform:translateY(-16px);
    box-shadow: rgb(0, 0, 0, 0.6) 0px 32px 24px;
}

label {
    font-family: "Montserrat";
    font-size: 32px;
    margin-top: 128px;
    margin-left: 16px;
    padding: 8px;
}

@media (max-width: 1400px) {
    #ProdImg {
        width: 80%;
    }
    #ProdImgBG {
        border-radius: 0;
    }
    #ProductA {
        flex-direction: column;
    }
    #ProdDetails {
        padding: 0;
    }
    #ProdTitle, #ProdDesc, #ProdCredits {
        border-radius: 0;
    }
}

#back {
    font-size: 48px;
    color: white;
}