<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <div id="ProductA">
        <div id="ProdImgBG">
            <a id="back" href="javascript: history.go(-1)">◀</a>
            <img id="ProdImg" src="/images/producto.png" alt="">
        </div>
        <div id="ProdDetails">
            <h1 id="ProdTitle">Titulo de ejemplo</h1>
            <p id="ProdDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Debitis dolor tenetur iste, possimus illum sapiente rem voluptatibus unde, 
            officiis quo omnis deleniti tempora harum! Pariatur quas sint laudantium! Neque, quas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita asperiores fuga temporibus?
            Nam deserunt doloremque porro doloribus, minus sed ab hic. Temporibus facilis tempore eveniet itaque commodi, adipisci aperiam?</p>
            <p id="ProdCredits">Creditos a Nombre Apellido</p>
            <a id="BuyBtn" href="carrito_de_compra">Comprar por $999.99</a>
        </div>
    </div>
    <br>
    <label>Recomendados</label>
        <section class="products">
            <a class="product" href="/detalle_producto">
                <img class="product-img" src="/images/producto.png">
                <span class="product-info">
                    <h4>Precio $20</h4>
                    <h2>Producto 1</h2>
                </span>
            </a>
            <a class="product" href="/detalle_producto">
                <img class="product-img" src="/images/producto.png">
                <span class="product-info">
                    <h4>Precio $20</h4>
                    <h2>Producto 1</h2>
                </span>
            </a>
            <a class="product" href="/detalle_producto">
                <img class="product-img" src="/images/producto.png">
                <span class="product-info">
                    <h4>Precio $20</h4>
                    <h2>Producto 1</h2>
                </span>
            </a>
            <a class="product" href="/detalle_producto">
                <img class="product-img" src="/images/producto.png">
                <span class="product-info">
                    <h4>Precio $20</h4>
                    <h2>Producto 1</h2>
                </span>
            </a>
        </section>
</body>
</html>