<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <form action="">
        <h1>REGISTRO DE CUENTA</h1>
        <input type="text" name="fname" placeholder="Nombre">
        <input type="text" name="lname" placeholder="Apellido">
        <input type="email" name="email" placeholder="Correo">
        <input type="password" name="Passwd" placeholder="Contraseña">
        <input type="password" name="ConfirmPasswd" placeholder="Confirmación de contraseña">
        <span><p>¿Tienes una cuenta? </p><a href="/login">Inicia Sesión.</a></span>
        <button type="submit">SIGUIENTE</button>
    </form>
    <img src="/images/producto.png" alt="">
</body>
</html>