<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createProduct.css">
    <title>Creacion de Producto</title>
</head>
<body>
    <article>
        <form action="">
            <label for="product-name">Nombre del producto</label>
            <input type="text" name="product-name" id="product-name">
            <label for="product-description">Descripcion del producto</label>
            <textarea type="text" name="product-description" id="product-description"></textarea>
            <label for="product-price">Precio del producto</label>
            <input type="number" name="product-price" id="product-price">
            <label for="product-category">Categoria del producto</label>
            <select name="product-category" id="product-category">
                <option value="Animales">Animales</option>
                <option value="Paisajes">Paisajes</option>
                <option value="Ilustraciones">Ilustraciones</option>
                <option value="Vehiculos">Vehiculos</option>
            </select>
            <label for="product-image" id="custom-file-upload">
                Elegir imagen del producto
                <input type="file" name="product-image" id="product-image" accept=".png,.jpg,.webp,.jpeg">
            </label>
            <button type="submit">Crear Producto</button>
        </form>
    </article>
</body>
</html>