<header>
    <nav>
        <ul>
            <!-- hacer un if aca para mostrar algunas cosas sobre la barra de navegacion al usuario-->
            <% if (locals.user) { %>
            <li class="listas"><a href="/product/createProduct">Crear Producto</a></li>
            <li class="listas"><a href="/product/editionProduct">Editar Producto</a></li>
            <li class="listas"><a href="/users/perfil">Perfil</a></li>
             <% } else { %>
                <li class="listas"><a href="/users/register">Registrate</a></li>
                <li class="listas"><a href="/users/login">Inicia Sesión</a></li>
            <% } %>
            <li class="listas"><a href="/product/productCart">Carrito</a></li>
            
        </ul>
    </nav>
    <!-- Esta es la barra de busqueda -->
    <div id="container">
        <input type="text" name="barra_busqueda" placeholder="Ingrese un producto que desee buscar" class="barra_busqueda" >
        <a href="" class="fa-sharp fa-solid fa-magnifying-glass logo_lupa"></a>
        <img src="/images/main-image.png" class="imagen_header">
    </div>
</header>