<a class="swiper-slide product" href="/product/productDetail/<%=dato.id%>">
    <img class="product-img" src="../images/<%=dato.imagen%>">
    <span class="product-info">
        <h4>Precio $<%=dato.precio%></h4>
        <h2><%=dato.precio%></h2>
    </span>
</a>