<a class="swiper-slide product" href="/detalle_producto">
    <img class="product-img" src="../images/producto.png">
    <span class="product-info">
        <h4>Precio $<%=datoProducto.price%></h4>
        <h2><%=datoProducto.name%></h2>
    </span>
</a>