<label id="<%= dato.categoriaNombre %>" class="category-label"><%= dato.categoriaNombre %></label>
<section class="swiper products">
    <div class="swiper-wrapper ">
        <% dato.datosProductos.forEach( datoProducto => { %>
            <%- include("product", {datoProducto: datoProducto}); %>
        <% }); %>
    </div>
    <!-- Botones de navegación-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>